<h1>Welcome to the dress-wearing Llama website!</h1>

<p>
  Our company takes pride in combining the best, most ridiculous news from around the USA.  On February 26th, there were llamas, and there were dresses.  This app pays homage to the news of the day.
</p>
